.page.theme-light { 
    --system-color-main: #FFFFFF;
    --component-color-button: #FFFF;
    --component-color-text: #E6E6E6;
    --system-color-background: #333333;
    --component-footer-background: #2F2F2F;
}


@media (prefers-color-scheme: dark) { 
    :root { 
        /* System variables */
    --system-color-main: #151515;
    --system-color-background: #333333;
    /* Components variables */
    --component-color-button: #FFFF;
    --component-color-text: #222222;
    --component-footer-background: #2F2F2F; 
    }
}